*, *::before, *::after {
    boxsizing: border-box;
}

html, body {
    font-family: Ubuntu, 'Segoe UI', 'Helvetica Neue', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: 100%;
}

main {
    position: relative;
    max-width: 720px;
    margin: 0 auto;
    height: 100%;
    overflow: hidden;
}

.pageView {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    opacity: 0;
    z-index: 2;
    transition: opacity 0.3s, transform 0.3s;
}

.pageView:first-child {
    transform: translate(0);
    opacity: 1;
    z-index: 1;
}

.pageView.active {
    transform: translate(0);
    transform: translate(0);
    opacity: 1;
}

.padded {
    padding: 2rem;
}

.flex {
    display: flex;
}

button {
    border: none;
    border-radius: 5px;
    outline: none;
    box-shadow: 0 0 1px rgba(0,0,0,0.2);
    background: blue;
}

.pageView:first-child button {
    width: calc((100% - 2rem) / 3);
}

.pageView:first-child button::before {
    display: block;
    padding-top: 100%;
    content: '';
}

.pageView:not(:first-child) {
    background: red;
}

.backArrow {
    position: absolute;
    background: rgba(255,255,255, 0.7);
    border-radius: 50%;
    top: 1rem;
    left: 1rem;
    width: 4rem;
    height: 4rem;
}

.backArrow::before {
    content: '';
    background: black;
    width: 2.25rem;
    height: 4px;
    border-radius: 4px;
    position: absolute;
    top: calc((4rem - 4px)/2);
    left: 1rem;
}

.backArrow::after {
    content: '';
    width: 2rem;
    height: 2rem;
    transform: rotate(-45deg);
    box-shadow: inset 3px 3px 1px 1px black;
    position: absolute;
    top: 1rem;
    left: 1rem;
}